@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap');

html,
body,
#root {
  font-family: 'Urbanist', sans-serif;
}

body {
  font-weight: 400;
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: -0.02em;
}

button,
a {
  font-family: 'Urbanist', sans-serif;
}
